@page
@model WebApplication3.Pages.RegisterModel
@{
}
<div class="container mt-5">

    <div class="row justify-content-center align-items-center">

        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Register </h1>

            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.FirstName">First Name</label>
                    <input type="text" asp-for="RModel.FirstName" class="form-control" />
                    <span asp-validation-for="RModel.FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.LastName">Last Name</label>
                    <input type="text" asp-for="RModel.LastName" class="form-control" />
                    <span asp-validation-for="RModel.LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.CreditCardNumber">Credit Card No </label>
                    <input type="text" asp-for="RModel.CreditCardNumber" class="form-control" />
                    <span asp-validation-for="RModel.CreditCardNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.MobileNumber">Mobile No</label>
                    <input type="tel" asp-for="RModel.MobileNumber" class="form-control" />
                    <span asp-validation-for="RModel.MobileNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.BillingAddress">Billing Address</label>
                    <input type="text" asp-for="RModel.BillingAddress" class="form-control" />
                    <span asp-validation-for="RModel.BillingAddress" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.ShippingAddress">Shipping Address</label>
                    <input type="text" asp-for="RModel.ShippingAddress" class="form-control" />
                    <span asp-validation-for="RModel.ShippingAddress" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Email">Email Address</label>
                    <input type="email" asp-for="RModel.Email" class="form-control" />
                    <span asp-validation-for="RModel.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Password">Password</label>
                    <input type="password" asp-for="RModel.Password" class="form-control" />
                    <span asp-validation-for="RModel.Password" class="text-danger"></span>
                    <small class="form-text text-muted">Password must be at least 12 characters long and contain at least an upper case letter, lower case letter, number, and a special character.</small>
                </div>


                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="RModel.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="RModel.ConfirmPassword" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Photo">Photo (JPG only)</label>
                    <input type="file" asp-for="RModel.Photo" class="form-control" />
                    <span asp-validation-for="RModel.Photo" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>